body{
  padding: 0;
  margin: 0;
  background-color: white;
}

div.navigation {
  padding: 0;
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://cdn.nimbusthemes.com/2017/09/09233341/Free-Nature-Backgrounds-Seaport-During-Daytime-by-Pexels.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;

}

div.nav {
  position: fixed;
  display: block;
  padding-left: 29%;
  padding-right: 23%;
  background-color:#181818;

}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  padding: 11px;
}

a {
  font-size: 38px;
  font-family: 'Playfair Display'
}

div.hello {
  text-align: center;
  padding-top: 150px;
}

p.hello-main {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 40px;
  color: white;
}

p.hello-name {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 40px;
  color: white;
}

div.introduction {
  font-family: 'Playfair Display';
  text-align: center;
}

hr.hr {
  border: 1px solid black;
  width: 600px;

}

p.in {
  font-size: 25px;
  color: black;

}

h1 {
  color: black;
  font-size: 30px;
}

div.services {
  font-family: 'Playfair Display';
  text-align: center;
  font-size: 25px;
}

div.services.p {
    color: black;
    font-family: 'Playfair Display';
    text-align: center;
}

div.services.h1 {
  color: black;
  font-family: 'Playfair Display';
  text-align: center;
  font-size: 30px;
}

div.social{
  font-family: 'Playfair Display';
  text-align: center;
  font-size: 25px;
}

a.ad {
  font-family: 'Playfair Display';
  text-align: center;
  font-size: 25px;
  color: black ;
}

.simg {
  height: 20px;
  width: auto;
}

img {
  height: 50px;
  width: auto;
}
